[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
jupyterlab = "*"
xgcm = "*"
matplotlib = "*"

[packages]
xarray = "*"
netcdf4 = "*"
dask = {extras = ["array"],version = "*"}
pytest = "*"
f90nml = "*"

[requires]
python_version = "3.8"
